#extends('templates.main')

#section('title', 'Lion')

#section('page-body')
    <div class="row">
        <div class="col">
            <section class="mb-5 py-5 border-top border-bottom">
                <h2>Lion ORM</h2>
                <p class="lead">Lion is a simple legacy <span class="text-muted">(also as a framework itself)</span> ORM module.</p>
                <p class="m-0">On this page you can explore all features that Lion provided.</p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Features -->
        </div>
    </div>
#endsection
