#extends('templates.main')

#section('title', $version)

#section('page-body')
    <div class="row">
        <div class="col">
            <h2>Welcome to {{ env('APP_NAME', 'Uwi') }}</h2>
            <p class="lead">Uwi - Simple and legacy backend framework without any third-party packages.</p>
            <figure>
                <img class="img-fluid" src="https://akkie.cyou/files/uwi_banner.png" alt="uwi_banner">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Features</h3>
            <ul>
                <li><a href="{{ request()->fullHost() }}/calibri">Calibri Template engine</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Author</h3>
            <p>Alexandr Shamanin (<a href="https://github.com/slpAkkie" target="_blank">@slpAkkie</a>)</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>More...</h3>
            <p><span class="fw-bold">Version: </span>{{ $version }}</p>
            <p><span class="fw-bold">Source: </span><a href="https://github.com/slpAkkie/Uwi" target="_blank">Uwi on github</a></p>
        </div>
    </div>
#endsection
