block directives

doctype html
html(lang="en")
  head
    //- Meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="canonical" href!="{{ request()->fullHost() }}")

    //- SEO
    meta(name="title" content="Uwi Framework")
    meta(name="og:title" content="Uwi Framework")

    meta(name="description" content="Uwi - Simple and legacy backend framework without any third-party packages.")
    meta(name="og:description" content="Uwi - Simple and legacy backend framework without any third-party packages.")

    //- Style
    link(rel="stylesheet", href=require('@/scss/main.scss'))

    //- Title
    title Uwi - #yield('title', 'Simple & Legacy MVC framework')
  body
    include ../components/nav.pug

    block site-content

    script(src=require('@/ts/main.ts'))
