extends ../templates/main.pug

block directives
  - let title = 'Webpack tools'
  | #section(title, '#{title}')

block site-content
  include ../components/welcome.pug

  hr.hr

  section.about
    h2 What you can use during development

    p
      | All files that should be processed with webpack stored in the <code>/resources</code>
      br
      | Processed files stored in the <code>/storage/app/assets</code>
    p.mb-3 To use built assets create <code>storage</code> folder in the public and link <code>/storage/app</code> to <code>/public/storage/app</code>

    article
      h3.capitalize Major features
      ul.list-disc.pl-5.mb-4
        li <b>HTML preprocessor</b>: Pug
        li <b>CSS preprocessor</b>: Sass (Scss)
        li <b>JS preprocessor</b>: TypeScript

      p
        | <code>Scss</code> and <code>TypeScript</code> files available only with pug compiled views.
        br
        | Files, processed with webpack has <code>.compiled</code> suffix

      p
        | You are free to use assets without webpack by creating them anywhere you want inside the <code>/public</code>

    article
      h3.capitalize Additional packages:
      ul.list-disc.pl-5
        li <b>Tailwind</b> (already integrated with PostCSS)
        li <b>Bootstrap 5</b> (added as npm package)
